extends layout

block layout-content
    .blog-container
        span.date=`${blog.created.getMonth() + 1}.${blog.created.getDate()}`
        if blog.photo
            .blog-image
                img(src=`/blog-images/${blog.photo}`)
        h2.blog-title=blog.title
        h3.blog-headline=blog.headline

        .blog-body=blog.body