extends layout

include mixins/_photoThumbnail
include mixins/_commentForm
include mixins/_comment

block layout-content
    h3=gallery.description
    .galleries
            - let j = 1
            each photo in gallery.photos
                +photoThumbnail(gallery.slug, photo, j)
                - j++
    .comments
        h4.comment__header Comments
        if user
            +commentForm(gallery, 'gallery')
        
        if gallery.comments
                each comment in gallery.comments
                    +comment(comment)

    

    #lightbox.modal
        span.close.cursor(onclick='closeModal()') &times;
        .modal-content
            each photo in gallery.photos
                .mySlides
                    img(src=`/gallery-images/${gallery.slug}/${photo}` style='width:100%')
            a.prev(onclick='plusSlides(-1)') &#x276E;
            a.next(onclick='plusSlides(1)') &#x276F;
            //- Caption text
            .caption-container
            p#caption
            // Thumbnail image controls
            - let i = 1
            each photo in gallery.photos
                .column
                img.demo(src=`/gallery-images/${gallery.slug}/${photo}` onclick=`currentSlide(${i})`)
                - i++

block footer-scripts
    script(src="/js/lightbox.js")