doctype html
html
  head
    meta(charset="utf-8")
    //- link(rel="shortcut icon", href="/favicon.ico")
    
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    meta(author="jlamoreaux")
    title= `${title} | ${h.siteName}`

    link(rel="stylesheet" href="/style/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")

    //- script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")

  body.not-index
    block header
      include mixins/_link
      header.header.top
        - const isAlerts = user.alerts && user.alerts.length
        a.alerts__button(onClick="showMenu('#header__alerts')")
          i(class='fa fa-bell-o' aria-hidden="true" id='alerts__icon')
          if isAlerts
            span.badge(id='alert__badge')=user.alerts.length
        .header__alerts#header__alerts
            if isAlerts
              a#clear__alerts(onClick='clearAlerts()') Clear Alerts
            if user
              .alerts
                ul.alerts__list(id='alerts__list')
                  if isAlerts
                    each alert in user.alerts
                      li.alerts__item
                        - const title = alert.slug.replace(/-/g, ' ')
                        a.alerts__item__inner(href=`/${alert.type}${alert.type == 'update' ? 's' : ''}/${alert.slug}`) NEW #{alert.type.toUpperCase()}: 
                          span.alert__title "#{title}"
                  else 
                    li.alerts__item
                      span.alerts__item__inner No New Alerts
        a(class="logo" href="/home") #{h.siteName}
        a.nav__button(onClick="showMenu('#header__menu')")
          i.fa.fa-bars
        .header__menu#header__menu
          if user
            .user
              a(onClick="showMenu('#user__options')")
                span.user__greeting Hello, #{user.firstName}
              .user__options(id='user__options')
                ul.user__options__list
                  li
                    a(href="/account") Account
                  li
                    a(href="/logout") Logout
          //- h2.page-title= title
          nav.nav
            ul.nav__items
                each item in h.menu
                    li.nav__item
                        +link(item.title, item.slug )(class= 'nav-link')

    main.content
      h2.title= title
      block messages
        if locals.flashes
          .inner
            .flash__messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
      block layout-content

    footer.footer
      script(src="/js/index.js")
      block footer-content
      block footer-scripts
        
