mixin blogThumbnail(blog)
    .blog-thumbnail.thumbnail
        a.blog-link(href=`/updates/${blog.slug}`)
            .blog-thumbnail-inner
            if blog.photo
                div.thumbnail-image-container
                    div.blog-date
                        span=`${blog.created.getMonth() + 1}.${blog.created.getDate()}`
                    div.thumbnail-image(style=`background-image: url('/blog-images/${blog.photo}')`)
        a.blog-link(href=`/updates/${blog.slug}`)
            h3.blog-title #{blog.title}
        if blog.headline
            h4.blog-headline=blog.headline
        p.blog-preview=`${blog.body.substring(0, 240)} ...`
        a.read-more-link(href=`/updates/${blog.slug}`) Read More
                